@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #000000;
  border: none;
}

input, label {
  display: block;
  outline: none;
  width: 100%;
}

a {
  color: #2f78bd;
}


body {
  background: linear-gradient(45deg, #2249E3, #1CFDD0);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Texto do logo */
.text-logo {
  position: absolute;
  display: inline-block;
  margin-left: 40px;
  margin-top: -340px;
  padding-bottom: 1em;
  background: linear-gradient(to right, #FFF 96%, #FF7C5D 0%);
  font-family: 'Poppins', 'sans-serif';
  font-size: 38px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

/* form */
#main-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  background: rgb(235, 241, 255);
  border: solid 0px;
  border-radius: 15px;
  padding: 40px;
}

#main-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-box {
  flex: 1 1 100%;
  position: relative;
}

.half-box {
  flex: 1 1 45%;
  position: relative;
}

.spacing {
  margin-right: 2.5%;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

input {
  background-color: #e6e6e6;
  padding: 10px;
  font-size: .9rem;
  margin-bottom: 40px;
  touch-action: manipulation;
  font-weight: 300;
}

input[type="button"]{
  background: linear-gradient(45deg, #31A1FA, #2249E3);
  color: #FFF;
  border:  none;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}

input[type="button"]:hover{
  background: linear-gradient(45deg, #2249E3, #31A1FA);
  transform: scaleX(1);
  transition: all .3s ease-in-out;
  transform-origin: left;
}

input[type="button"]:focus ~ .underline::after {
  transform: scaleX(0);
}

#agreement {
  margin-right: 5px;
}

#agreement, #agreement-label {
  display: inline-block;
  width: auto;
}

.error-validation {
  color: #ff0000;
  position: absolute;
  font-family: Helvetica, sans-serif;
  top: 57px;
  font-size: 12px;
}

.template {
  display: none;
}
/*Css Mídias sociais*/
.social-media {
  margin: 1rem 0;
}
.link-social-media:not(:first-child){
  margin-left: 15px;
}
.link-social-media .item-social-media {
  transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
  background-color: #58af9b;
  color: #FFF;
  border-color: #58af9b;
}
.list-social-media {
  display:flex;
  list-style-type: none;
}
.item-social-media {
  border: 1px solid #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #95a5a6;
}